.searchbar{
    background: #fff;
display: flex;
border: 1px solid #dfe1e5;
box-shadow: none;
border-radius: 24px;
z-index: 3;
height: 44px;
margin: 0 auto;
width: auto;
max-width: 584;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.topbar{
    position: absolute;
}

.fa {
    top: 14px;
    left: 1rem;
    position: relative;
  }

.form
  {
    left: 1.5rem;
    position: relative;
    border:none;
  }
  .searchButtons
  {
      margin-top: 10px;
  }
  .sb{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

